@import url('https://fonts.googleapis.com/css?family=Oswald:700|Roboto:400,900&display=swap');

/* Clean Slate */
body {
    min-height: 100vh;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);

    width: 95%;
    max-width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.counter {
    margin: 2em 0;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5em;
}

.parity-container {
    padding: 1em;

    color: #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;

    transition: background-color .3s;
}

.button-container {
    padding: 2em;
    text-align: center;
}

button {
    padding: .75em 1.5em;
    border: none;
    border-radius: 2px;
    
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.button:hover {
    filter: brightness(.9);
    cursor: pointer;
    transition: filter .25s;
}

.button:not(hover) {
    transition: filter .25s;
}

#increase {
    background-color: #4CB5AE;
}

#decrease {
    background-color: #F93943;
}

#reset {
    background-color: #777;
}


/* Parity Colors */
.red {
    background-color: #F93943;
}

.green {
    background-color: #4CB5AE;
}